RewriteEngine On

# Rewrite Rules For Album Pages
RewriteRule ^taylor-swift$ /Pages/Album-Pages/ts1.html [L]
RewriteRule ^fearless$ /Pages/Album-Pages/ts2.html [L]
RewriteRule ^speak-now$ /Pages/Album-Pages/ts3.html [L]
RewriteRule ^red$ /Pages/Album-Pages/ts4.html [L]
RewriteRule ^1989$ /Pages/Album-Pages/ts5.html [L]
RewriteRule ^reputation$ /Pages/Album-Pages/ts6.html [L]
RewriteRule ^lover$ /Pages/Album-Pages/ts7.html [L]
RewriteRule ^folklore$ /Pages/Album-Pages/ts8.html [L]
RewriteRule ^evermore$ /Pages/Album-Pages/ts9.html [L]
RewriteRule ^midnights$ /Pages/Album-Pages/ts10.html [L]
