RewriteEngine On

# Rewrite Rules For Album Pages
RewriteRule ^taylor-swift$ ts1.html [L]
RewriteRule ^fearless$ ts2.html [L]
RewriteRule ^speak-now$ ts3.html [L]
RewriteRule ^red$ ts4.html [L]
RewriteRule ^1989$ ts5.html [L]
RewriteRule ^reputation$ ts6.html [L]
RewriteRule ^lover$ ts7.html [L]
RewriteRule ^folklore$ ts8.html [L]
RewriteRule ^evermore$ ts9.html [L]
RewriteRule ^midnights$ ts10.html [L]
